.header{
    color:beige;
    background-color: #b76e79;
    padding: 20px;
    text-align: center;

}

.row{
    page-break-after: always;
}

.body1{
    
    padding: 1em;
}

.card{
    margin-top: 20px;

}

.footer1{
    text-align: center;
}
.box{
    text-align: center;
}